@namespace Ch08.BlazorApp.Components.Formula1
@using Ch08.DataLib

<table class="table table-striped">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Country</th>
            <th>Founded Year</th>
            <th>Racers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Teams)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Country</td>
                <td>@team.FoundedYear</td>
                <td>
                    @if (team.Racers.Any())
                    {
                        <ul class="list-unstyled mb-0">
                            @foreach (var racerMap in team.Racers.OrderBy(r => r.Year))
                            {
                                <li>@racerMap.Racer?.FirstName @racerMap.Racer?.LastName (@racerMap.Year)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No Racers</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public required IEnumerable<Team> Teams { get; set; }
}